h2,h1,h3,h4,h5,h6{
  margin: 0px;
}
*{
  z-index: 1;
}
body{
    font-family: 'RobotoRegular', sans-serif;
    color: #a1a1a1;
    font-size: 18px;

}

::-webkit-input-placeholder {color:#7477b0;}
::-moz-placeholder          {color:#7477b0;}/* Firefox 19+ */
:-moz-placeholder           {color:#7477b0;}/* Firefox 18- */
:-ms-input-placeholder      {color:#7477b0;}
.slick-slider{
  z-index: inherit;
}
.projects{
  height: 900px;
z-index: inherit;
  position: relative;
    background: #202020;
}
.form_line{
  margin-bottom: 30px;
}
.form_line input:nth-child(1){
  float: left;
}
.form_line input:nth-child(2){
  float: right;
}
.feedback_form input{
  color: #afafaf;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  border: 2px solid #f3f3f3;
  width: 390px;
  height: 20px;
  outline: none;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
    border-radius: 15px;
}
.feedback_form_submit:hover{
  cursor: pointer;
}
.feedback_form_submit{
  padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d54b54;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: none;
    float: right;
}
.feedback_form_text{
  outline: none;
  box-sizing: border-box;
  padding: 20px;
  width:  100%;
  height: 200px;
  resize: none;
  color: #7477b0;
  border: 2px solid #f3f3f3;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin-bottom: 40px;
}
.feedback_form_text:focus{
  background-color: #fff;
  color: #7477b0;
  border: 2px solid #7477b0;
}
.slick-list{

}
.feedback_form input:focus{
  color: #7477b0;
  border: 2px solid #7477b0;
  background-color: #fff;
}

.feedback_form{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width:  900px;
}
.left_box{
  float: left;
  opacity: 0.9;
  width: 49.99%;
/*  height: 460px;*/
  padding-top: 230px;
  padding-bottom: 230px;
}
.opacity_box{
  opacity: 0;
}
.swiper-slide:nth-child(1){
  background: url(../img/bgslide1.jpg) no-repeat;
  background-size: cover;
}
.swiper-slide:nth-child(2){
  background: url(../img/bgslide2.jpg) no-repeat;
  background-size: cover;
}
.swiper-slide:nth-child(3){
  background: url(../img/bgslide3.jpg) no-repeat;
  background-size: cover;
}
.right_box{
  float: right;
  width: 49.99%;
  height: 920px;
}
.black_slider_box{
  background-color: #202020;
}
.red_slider_box{
  background-color: #d54b54;
}

.swiper-container {
        width: 100%;
        height: 900px;
}
.swiper_content_desc{
  color: #fff;
  line-height: 28px;
}
.main_footer a{
  outline: none;
  text-decoration: none;
}
.swiper-slide {
        font-size: 18px;
        background: #202020;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


.main_footer{
  background-color: #202020;
  color: #ffffff;
}
 .fixed{
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed ul{
  background: #202020;

}
.fixed ul li a{
  color: #fff;
}

.contact_line{
  margin: 0px;
}

.someclass{
  height: 5px;
  background-color: #7477b0;
}
.nav_list{
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0;
  height: 60px;
}
.slider_item_header{
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}
.contact_inform{
  margin-top: 130px;
  z-index: inherit;
  position: relative;
}
.footer_rights_reserved{
  font-size: 15px;
  color: #fff;
  float: right;
  line-height: 130px;
  margin: 0px;
}
.slider_item:nth-child(3n-1) .slider_item_underline{
    width: 30px;
    height: 4px;
    background-color: #d54b54;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:  40px;
}
.footer_comp_name{
  margin: 0px;
  line-height: 130px;
  font-size: 30px;
  float:left;
  padding-left: 100px;
  background: url(../img/logo.png) no-repeat;
  background-size: 60px 60px;
  background-position: left center;
}

.slider_item:nth-child(3n-2) .slider_item_underline{
    width: 30px;
    height: 4px;
    background-color: #7477b0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:  40px;
}

.slider_item:nth-child(3n-3) .slider_item_underline{
    width: 30px;
    height: 4px;
    background-color: #f1a957;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:  40px;
}

.slider_item_price{
  font-size: 55px;
  color: #000;
  display: inline-block;
  margin-bottom: 20px;
}
.slider_item:hover{
  cursor: pointer;
}
.slider_item{
  padding-top: 40px;
  outline: none;
  text-align: center;
  -webkit-box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
  -moz-box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
  box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);

}
.slider_item:nth-child(3n-1) .slider_item_button{
  display: inline-block;
  width: 150px;
  background-color:#d54b54;
  color: #fff;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.slider_item:nth-child(3n-2) .slider_item_button{
  display: inline-block;
  width: 150px;
  background-color:#7477b0;
  color: #fff;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.slider_item:nth-child(3n-3) .slider_item_button{
  display: inline-block;
  width: 150px;
  background-color:#f1a957;
  color: #fff;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.slider_item:nth-child(2n){
  -webkit-box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
  -moz-box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
  box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
}
.slider_item:nth-child(3n){
  -webkit-box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
  -moz-box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
  box-shadow: 13px 11px 43px -6px rgba(0,0,0,1);
}
.slider_item_desc{
  font-size: 18px;
  color: #000;
  margin: 10px;
}

.slider_item:nth-child(3n-1) .item_desc_underline{
  width: 96px;
  margin: 0 auto;
  height: 2px;
  background-color:  #d54b54;
}

.slider_item:nth-child(3n-2)  .item_desc_underline{
  width: 96px;
  margin: 0 auto;
  height: 2px;
  background-color:  #7477b0;
}
.slider_item:nth-child(3n-3)  .item_desc_underline{
  width: 96px;
  margin: 0 auto;
  height: 2px;
  background-color:  #f1a957;
}

.slider .slick-current{
  margin-top: 65px;

}
.slick-current + div+div{
      margin-top: 65px;

}
.slick-current + div{
  height: 380px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 30px;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.about_item_header{
  font-size: 30px;
  margin-bottom: 30px;
}
.about_item_text{
  line-height: 30px;
}
.nav_list_item{
  display: inline-block;
  line-height: 60px;
  margin-right: 20px;
}
.about_section,.price_section,.feedback_section{
  margin-top: 130px;
  margin-bottom: 130px;
}
.slider_tagline{
  color: #545454;
}
.section_header{
  font-size: 38px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 40px;
}
.slider_box_wrapper{
  max-width: 560px;
  margin: 0 auto;
}
.sub_section_header{
  font-size: 38px;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 10px;
}
.main_logo{
  width: 5vh;
  height: 5vh;
  float: left;
  margin-top: 25px;
}
.section_central_content{
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
}
.about_item{
  margin-top: 80px;
  text-align: center;
  width: 33%;
  box-sizing: border-box;
  padding-right: 5px;
  padding-left: 5px;
  float: left;

  padding-top: 160px;
}
.bg_shield_pic{
  background: url(../img/about_bg_item1.png) no-repeat center top;
}
.bg_price_pic{
  background: url(../img/about_bg_item2.png) no-repeat center top;
}

.bg_quality_pic{
  background: url(../img/about_bg_item3.png) no-repeat center top;
}

.nav_list_item a{
  text-decoration: none;
  color: #202020;
  font-size: 18px;
  outline: none;
  text-transform: uppercase;
}
.nav_list_item a:hover{
  color: #a4407b;
}

.container{
  margin: 0px auto;
  max-width: 1170px;
}
.header_bar{
  height: 6px;
  float: left;
  width: 25%;
}
.header_tagline{
  font-family: 'RobotoLight', sans-serif;
}
.tagline_header{
  font-size: 7vh;
  margin-bottom: 25px;
}
.medium_font{
  font-family: 'RobotoMedium', sans-serif;
}

.taline_sub_header{
  font-size: 3vh;
  text-transform: uppercase;
}
.logo{
  margin-bottom: 60px;
  width: 20vh;
  height: 20vh;
}
.header_tagline{
  padding-top: 12vh;
  height: 88vh;
  color: #fff;
  text-align: center;
  background: url(../img/header_bg.png) no-repeat bottom center #202020;
  background-size: 100%;

}
.slider_item{
  min-height: 380px;
  margin-right: 40px;
  margin-top: 40px;
}
.slider_item:last-child{
  margin-right: 0px;
}
.central_slide{
  height: 450px;
}

.blue_text_color{
  color: #5e608a;
}
.crimson_text_color{
  color: #a4407b;
}
.orange_text_color{
  color: #f1a957;
}
.red_text_color{
  color: #d54b54;
}

.white_text_color{
  color: #fff;
}
.color_pinc{
  background-color: #d54b9c;
}
.color_yellow{
  background-color: #f1a957;
}
.color_blue{
  background-color: #7477b0;
}
.color_red{
  background-color: #d54b54;
}

.main_nav {
  display:block;

}
/*Strip the ul of padding and list styling*/
.main_nav ul {
	list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;
  position: absolute;

}

/*Create a horizontal list with spacing*/
.main_nav li {
	display:inline-block;
	/*float: left;
	margin-right: 1px;*/
}

/*Style for menu links*/
.main_nav li a {

}

/*Hover state for top level links*/
.main_nav li:hover a {

}

/*Style for dropdown links*/
.main_nav li:hover ul a {

}

/*Hover state for dropdown links*/
.main_nav li:hover .main_nav ul a:hover {

}

/*Hide dropdown links until they are needed*/
.main_nav li ul {
	display: none;
}

/*Make dropdown links vertical*/
.main_nav li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.main_nav li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/
.main_nav .show-menu {
	text-decoration: none;
	text-align: center;
	display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.main_nav .show-menu span{

}

/*Hide checkbox*/
.main_nav input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.main_nav input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 800px){

  .nav_list_item{
    line-height: normal;
    margin-right: auto;
    background-color: #202020;

  }
  .nav_list_item a {
    color: #fff;
  }
	/*Make dropdown links appear inline*/
	.main_nav ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.main_nav li {

	}
	/*Make all menu links full width*/
	.main_nav ul li, .main_nav li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.main_nav .show-menu {
		display:block;
background: #202020;
color: #fff;
padding-top: 10px;
padding-bottom:  10px;

	}
}
